<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGINA</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    
</head>

<body class="contacto-page">
    <header class="header"> 
        <div class="menu container1">
            <a href="../index.html" class="logo">logo</a>
            <input type="checkbox" id="menu" name="menu" class="menu-icono">
            <label for="menu">
                <img src="../images/menu.png" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="formulario.html">Formulario</a></li>
                </ul>
            </nav>
            <div class="submenu">
                <img src="../images/car.svg" id="img-carrito" alt="carrito">
                <div id="carrito">
                    <div id="lista-carrito" class="carrito-lista"></div>
                    <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                </div>
            </div>
        </div>

        <div class="header-contentcont container">
            <div class="header-txt">
                <span></span>
                <h1>Contáctanos</h1>
                <p>
                    Para ponerte en contacto con nosotros, puedes enviarnos mensajes a través de nuestras redes sociales, 
                    correo electronico. Estamos activos en plataformas como Instagram y Facebook, 
                    donde responderemos a tus consultas y pedidos con rapidez. ¡Estamos ansiosos por recibir tus mensajes y ayudarte con tus 
                    compras de frutas y verduras!
                </p>
                <a href="formulario.html" class="btn-1">Rellenar Formulario</a>
            </div>
            <div class="header-img">
                <img src="../images/menucontacto.png" alt="contacto">
            </div>
        </div>

    </header>

    <section class="information container">

        <div class="information-content">
            <div class="information-1">
                <img src="../images/telefonocontacto.png" alt="telefonocontacto">
                <h3>Llámanos</h3>
                <p>
                   +34 612 345 678
                </p>
            </div>

            <div class="information-1">
                <img src="../images/mensajecontacto.png" alt="mensajecontacto">
                <h3>Escríbenos</h3>
                <p>
                   Frutasyverduras@gmail.com
                </p>
            </div>

            <div class="information-1">
                <img src="../images/ubicacioncontacto.png" alt="ubicacioncontacto">
                <h3>Dónde Estamos</h3>
                <p>
                    P.º de La Habana, 44, <br>
                    28036 Madrid
                </p>
            </div>

        </div>

    </section>

    <section class="parrafocontbajo">
        <div class="header-contentcont2 container">
            <div class="header-txt">
                <span></span>
            
                 <p>

                 Estamos encantados de proporcionarte tres opciones para contactarnos: <br> <br> <br>

                 Visítanos en persona: <br>
                 Te invitamos a venir a nuestra tienda durante nuestro horario de atención.
                 Nuestro amable equipo estará disponible para ayudarte con tus compras de frutas y verduras. <br><br>
                
                  Llámanos: <br>
                    Si tienes preguntas o necesitas información adicional, no dudes en llamarnos. 
                    Estamos disponibles para atender tus consultas por teléfono en el número durante nuestras horas de operación. <br><br>
                
                Envíanos un mensaje: <br>
                 Si prefieres la conveniencia de la comunicación digital, puedes enviarnos un mensaje a través 
                de nuestras redes sociales o correo electronico. Estamos listos para responder
                 a tus mensajes y ayudarte en lo que necesites. Esperamos tu contacto y estamos ansiosos por servirte. <br><br>
                </p>
                <h2 class="nomostrar">P</h2>
            </div>
        </div>
</section>

<main class="partemapa">

    <div id="mapa"></div>
   
    
</main>
    

<footer class="footer">
    <div class="footer-content container">
    
        <div class="link">
            <h3>Síguenos</h3>
            <ul class="siguenos">
                <li><img src="../images/redessociales.png" alt="Redes sociales"></li>
            </ul>
        </div>            

        <div class="link">
            <h3>Medios de Pago</h3>
            <ul class="mediosdepago">
                <li><img src="../images/mediosdepago2.png" alt="Medios de pago"></li>
            </ul>
        </div>
        

        <div class="link">
            <h3>Contáctanos</h3>
            <ul class="contactanos">
                <li><img src="../images/Footercontacto.png" alt="Contacto"></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
        



    </div>

</footer>

<script src="../js/mapa.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpwVvQAoTA-WOINVJ3x0FaUqdqsJovc5c&libraries=places&callback=initMap" async defer></script>
   
</body>
</html>